<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.platinum.gladiators.howsleepyareyou" platformBuildVersionCode="21" platformBuildVersionName="5.0.1-1624448">
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <application android:allowBackup="true" android:icon="@drawable/ic_launcher" android:label="@string/app_name" android:theme="@style/AppTheme">
        <activity android:label="@string/app_name" android:name="com.platinum.gladiators.howsleepyareyou.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:label="@string/title_activity_image_game" android:name="com.platinum.gladiators.howsleepyareyou.ImageGame"/>
        <activity android:label="@string/title_activity_question_alert" android:name="com.platinum.gladiators.howsleepyareyou.QuestionAlert"/>
        <activity android:name="com.platinum.gladiators.howsleepyareyou.Results"/>
        <activity android:name="com.platinum.gladiators.howsleepyareyou.AgeDetection"/>
        <activity android:name="com.platinum.gladiators.howsleepyareyou.OrientationTest"/>
        <activity android:name="com.platinum.gladiators.howsleepyareyou.QuestionFive"/>
        <activity android:name="com.platinum.gladiators.howsleepyareyou.QuestionFour"/>
        <activity android:name="com.platinum.gladiators.howsleepyareyou.QuestionOne"/>
        <activity android:name="com.platinum.gladiators.howsleepyareyou.QuestionSeven"/>
        <activity android:name="com.platinum.gladiators.howsleepyareyou.QuestionSix"/>
        <activity android:name="com.platinum.gladiators.howsleepyareyou.QuestionThree"/>
        <activity android:name="com.platinum.gladiators.howsleepyareyou.TimerGame"/>
        <activity android:name="com.platinum.gladiators.howsleepyareyou.QuestionTwo"/>
    </application>
</manifest>
